h1{
    color: rgb(235, 232, 50);
    font-size: 50px;
}
h2{
    color: crimson;
    font-size:  25px;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    height: 100vh;
    display: grid;
    place-items: center ;
    background-color: cornflowerblue;
}
.card{
    max-width: 500px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: normal; 
}
.image{
    width:200 ;
    height: 200;

}

li{
    color: rgb(0, 0, 0);
    font-size: 19px;
}
h3{
    color:red;
    font-weight: bold;
    
}
